{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "globals": {
    "renderer": true,
    "mount": true,
    "shallow": true
  },
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : "warn",
    "class-methods-use-this": "off",
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-raw-text": 2,
    "global-require": 0
  },
  "env": {
    "jest": true,
    "react-native/react-native": true
  }
}